<Header.render current_user={@current_user} q={@q} />

<div
  :if={length(@search_results) == 0}
  id="hero-image"
  class="flex px-30"
  phx-mount={
    JS.remove_class(
      "hidden",
      to: "#hero-image",
      transition: "ease-in duration-100 opacity-100",
      time: 100
    )
  }
  phx-remove={
    JS.add_class(
      "hidden",
      to: "#hero-image",
      transition: "ease-out duration-100 opacity-0",
      time: 100
    )
  }
>
  <div class="absolute z-10 left-[230px] top-60 font-bold text-[80px] leading-none text-white drop-shadow-xl">
    <p>Popust od -7%</p>
    <p>Na sve proizvode</p>
  </div>
  <img
    src="/images/pexels-cyril-caiazzo-1634502.jpg"
    alt=""
    class="h-[600px] w-full scale-105 object-cover"
  />
</div>

<ItemDetails.render
  :if={@live_action == :details}
  product={@product}
  cart={@cart}
  vendor={
    Enum.find(
      @vendors,
      fn v ->
        v.id ==
          @product.vendor
      end
    )
  }
/>

<div class="w-full px-4 md:px-14 xl:px-32 py-16" id="products-list">
  <div class="text-slate-700 font-bold text-[30px]">Popularni proizvodi</div>

  <div class="pb-10 grid grid-cols-1 gap-x-3 gap-y-3 mt-9 md:grid-cols-2 md:gap-x-4 md:gap-y-4 lg:grid-cols-3 xl:grid-cols-4 xl:gap-x-4 xl:gap-y-4 xxl:grid-cols-5 large:grid-cols-5">
    <%= if length(@search_results) > 0 do %>
      <%= for item <- @search_results do %>
        <ItemCard.main
          item={item}
          cart={@cart}
          vendor={
            Enum.find(
              @vendors,
              fn v ->
                v.id ==
                  item.vendor
              end
            )
          }
        />
      <% end %>
    <% else %>
      <%= for item <- @items do %>
        <ItemCard.main
          item={item}
          cart={@cart}
          vendor={
            Enum.find(
              @vendors,
              fn v ->
                v.id ==
                  item.vendor
              end
            )
          }
        />
      <% end %>
    <% end %>
  </div>

  <div class="flex justify-center">
    <div class="join grid grid-cols-2">
      <button class="join-item btn text-[#61AC27] border-4 border-r-2 border-slate-200 bg-white rounded-3xl">
        Prethodna strana
      </button>
      <button class="join-item btn text-[#61AC27] border-4 border-l-2 border-slate-200 bg-white rounded-3xl">
        Sledeća strana
      </button>
    </div>
  </div>
</div>

<div class="w-full px-4 md:px-14 xl:px-32 pb-16" id="products-list">
  <div class="w-full flex align-middle">
    <span class="flex justify-start text-slate-700 font-bold text-[30px] h-full flex-grow">
      Na Akciji
    </span>
    <span class="flex m-auto link link-primary justify-end">Sve akcije</span>
  </div>

  <div class="grid grid-cols-2 gap-4 mt-9">
    <div class="w-full h-32 bg-[#ED8B8E] rounded-3xl"></div>
    <div class="w-full h-32 bg-[#A3B7E5] rounded-3xl"></div>
  </div>
</div>

<div class="w-full px-4 md:px-14 xl:px-32 pb-16" id="products-list">
  <div class="text-slate-700 font-bold text-[30px] h-full flex-grow">
    Popularni brendovi
  </div>

  <div class="grid grid-cols-6 gap-4 mt-9">
    <div class="w-full h-32 mx-auto bg-[#ED8B8E] rounded-3xl"></div>
    <div class="w-full h-32 mx-auto bg-[#A3B7E5] rounded-3xl"></div>
    <div class="w-full h-32 mx-auto bg-[#ED8B8E] rounded-3xl"></div>
    <div class="w-full h-32 mx-auto bg-[#A3B7E5] rounded-3xl"></div>
    <div class="w-full h-32 mx-auto bg-[#ED8B8E] rounded-3xl"></div>
    <div class="w-full h-32 mx-auto bg-[#A3B7E5] rounded-3xl"></div>
  </div>
</div>

<div class="w-full px-4 md:px-14 xl:px-32 pb-16" id="products-list">
  <div class="w-full flex align-middle">
    <span class="flex justify-start text-slate-700 font-bold text-[30px] h-full">
      Apoteke u Beogradu
    </span>
    <span class="flex align-middle my-auto pl-10 h-full">
      <div class="dropdown dropdown-end">
        <label
          tabindex="0"
          class="btn btn-sm py-0 bg-transparent border-0 hover:bg-transparent hover:text-slate-700"
        >
          Beograd <Heroicons.Outline.chevron_down class="h-6" />
        </label>
        <div
          tabindex="0"
          class="card compact dropdown-content z-[1] shadow bg-base-100 rounded-box w-64"
        >
          <div class="card-body">
            <h2 class="card-title">You needed more info?</h2>
            <p>Here is a description!</p>
          </div>
        </div>
      </div>
    </span>
  </div>

  <div class=""></div>
</div>
